.row {
  margin-bottom: 0;
}
.my-grey {
  background-color: #292929 !important;
}
.my-grey-darker {
  background-color: #222222 !important;
}
.my-grey-text {
  color: #292929;
}

header {
  height: 100vh;
  background-color: #292929
}

#title, #subtitle {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #EA484E;
  margin: 0;
  opacity: 0;
}
  #title {
    padding-top: 2rem;
    animation: fadeIn 2s ease forwards 3s
  }
  #subtitle {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #666666;
    animation: fadeIn 2s ease forwards 3.3s
  }
  @media screen and (max-width: 420px) {
    #title, #subtitle {
      position: absolute;
    }
    #title {
      left: 50%;
      top: 57%;
      transform: translate(-50%, -50%);
    }
    #subtitle {
      left: 50%;
      top: 62%;
      transform: translate(-50%, -50%);
    }
  }


#header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  max-height: 80vh;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 991px) {
  #header-logo {
    width: 90%;
  }
}


#welcome {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  animation: fill 1.5s ease forwards 4s;
}
  #welcome path:nth-child(1) {
    stroke-dasharray: 400.53px;
    stroke-dashoffset: 400.53px;
    animation: line-anim 2s ease forwards;
  }
  #welcome path:nth-child(2) {
    stroke-dasharray: 231.98px;
    stroke-dashoffset: 231.98px;
    animation: line-anim 2s ease forwards 0.3s;
  }
  #welcome path:nth-child(3) {
    stroke-dasharray: 148.6px;
    stroke-dashoffset: 148.6px;
    animation: line-anim 2s ease forwards 0.6s;
  }
  #welcome path:nth-child(4) {
    stroke-dasharray: 253.59px;
    stroke-dashoffset: 253.59px;
    animation: line-anim 2s ease forwards 0.9s;
  }
  #welcome path:nth-child(5) {
    stroke-dasharray: 282.19px;
    stroke-dashoffset: 282.19px;
    animation: line-anim 2s ease forwards 1.2s;
  }
  #welcome path:nth-child(6) {
    stroke-dasharray: 377.18px;
    stroke-dashoffset: 377.18px;
    animation: line-anim 2s ease forwards 1.5s;
  }
  #welcome path:nth-child(7) {
    stroke-dasharray: 231.98px;
    stroke-dashoffset: 231.98px;
    animation: line-anim 2s ease forwards 1.8s;
  }

#down-arrow {
  font-size: 3.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%)
}

.parallax-container {
  height: 50vh;
  position: relative;
}

/* Sidenav */
#nav-fade-in {
  opacity: 0;
  animation: fadeIn 2s ease forwards 3s;
  position: relative;
  z-index: 999;
}
#nav-button-container {
  position: fixed;
  top: 2rem;
  left: 2rem;
}
.nav-open {
  animation: slide-right 1s ease forwards;
}
.nav-closed {
  animation: slide-left 1s ease forwards;
}

#sidenav-logo {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translate(-50%, 0);
  width: 50%;
}

.social-icons {
  position: absolute;
  bottom: 15rem;
  left: 50%;
  transform: translate(-50%, -50%)
}

.social-icon {
  font-size: 5rem !important;
}

#side-menu {
  padding-top: 10rem;
}

#swipe-message {
  position: absolute;
  width: 100%;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%)
}
.hamburger:hover {
  opacity: 1 !important;
}
.hamburger.is-active:hover {
  opacity: 1 !important;
}

/* Page Content */
.col-content {
  height: 60vh;
  min-height: 500px;
  position: relative;
}
@media screen and (max-height: 770px) {
  .col-content {
    height: 500px;
  }
}
@media screen and (max-width: 340px) {
  .col-content {
    height: 550px;
  }
}

.content-title {
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
}

.section-header {
  margin: 1rem;
}

/* About Section */
.about-header {
  margin-top: 3rem;
  margin-left: 0;
}

/* About Portrait */
#portrait {
  position: absolute;
  width: 180px;
  height: 200px;
  right: -90px;
  z-index: 997;
}
@media screen and (max-width: 1300px) {
  #portrait {
    width: 120px;
    height: 140px;
    right: -60px;
  }
}
@media screen and (max-width: 991px) {
  #portrait {
    left: 50%;
    bottom: -60px;
    transform: translate(-50%, 0);
    width: 180px;
    height: 200px;
  }
}

/* Portfolio Section */
.col-content-p {
  height: 600px;
}

#tab-container {
  padding-top: 1rem;
}

.tabs .tab a.active, .tabs .tab a:focus.active {
  background-color: transparent;
  color: #fff;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#fff;
} /*Color of underline*/
@media screen and (max-width: 1175px) {
  .tabs .tab a {
    padding: 0 14px;
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .tabs .tab a {
    padding: 0 10px;
    font-size: 10px;
  }
}
@media screen and (max-width: 375px) {
  #tab-container {
    padding: 0;
  }
  .tabs .tab a {
    padding: 0 6px;
    font-size: 9px;
  }
}


/* Contact Section */
.message-alert {
  display: none;
  background-color: #79c879;
  color: #fff;
  margin: 1rem;
  padding: 10px;
}

/* label color */
.input-field label {
  color: #292929 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label {
  color: #292929 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field textarea:focus {
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
}
/* valid color */
.input-field input[type=text].valid,
.input-field input[type=email].valid {
  border-bottom: 1px solid #292929 !important;
  box-shadow: 0 1px 0 0 #292929 !important;
}
/* invalid color */
.input-field input[type=text].invalid,
.input-field input[type=email].invalid {
  border-bottom: 1px solid #292929 !important;
  box-shadow: 0 1px 0 0 #292929 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #F44336 !important;
}

/* Footer */
#footer-container {
  position: relative;
}
#city {
  width: 100vw;
  /* height: 50vh; */
  position: absolute;
  bottom: 0;
}

/* Keyframes */
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #ffffff;
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes slide-right {
  to {
    left: 350px;
  }
}
@keyframes slide-left {
  from {
    left: 350px;
  }
  to {
    left: 2rem;
  }
}