header {
  height: 100vh;
  background-color: #292929
}

#header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 33%;
  transform: translate(-50%, -50%);
}

#down-arrow {
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%)
}

.parallax-container {
  height: 50vh;
  position: relative;
}